/* To change qualities of tags directly */
body {
    margin: 1%;
}

input::placeholder {
    color: #202030;
}

/* Login Page */
.identity-container {
    position: relative;

    width: 250px;
    height: 100px;

    display: flex;
    align-content: center;
    align-items: center;

    z-index: 1;
}

.logo {
    position: relative;

    width: 100px;
    height: 100px;

    color: black
}

.logo-text {
    position: relative;

    margin-left: 15px;

    font-size: 44px;
    font-family: "Indie Flower", serif;
    font-weight: 400;
    font-style: normal;
    color: #202030;
}

.login-container {
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    width: 60%;

    background-color: #DBE4E1;

    display: flex;
    align-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.login-container .login-text {
    position: relative;

    margin-top: 170px;
    
    font-size: 40px;
    color: #202030;
    font-family: serif
}

.login-container .login {
    position: relative;

    height: 300px;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #728395;
    border-radius: 15px;
}

.login-input {
    position: relative;

    margin-top: 5%;
    padding-left: 10px;
    
    width: 60%;
    height: 12%;
    border-radius: 15px;
    border: none;
    background-color: #EFEFEF;
}

.login-button {
    position: relative;

    margin-top: 5%;

    width: 30%;
    height: 12%;
    border-radius: 20px;
    border: none;
    background-color: #05D599;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    cursor: pointer;
}

.login-button:hover {
    background-color: #00A676;
}

.seperator {
    position: relative;

    margin-top: 5%;
    margin-bottom: 5%;

    width: 80%;
    height: 1px;
    background-color: lightgrey;
}

.login-container .login .forgotten-button {
    position: relative;

    margin-top: 1.5%;
    color: blue
}

.sign-up-advert {
    position: absolute;

    top: 0;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: #728395;
}

/* Resolutions below */
@media (max-width: 830px) {
    body {
        margin: 1%;

        background-color: #728395;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .login-container {
        position: relative;
        
        margin-top: 120px;
        width: 80%;
        height: 50%;
        border-radius: 15px;
    }

    .login-container .login-text {
        margin-top: 30px;
    }

    .sign-up-advert {
        display: none;
    }
}

/* Mobile Styles */
@media (max-width: 665px) {
    body {
        margin: 1%;

        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }

    /* Login Page */
    .identity-container {
        position: relative;

        width: 250px;
        height: 100px;

        display: flex;
        align-content: center;
        align-items: center;
        margin-top: 5%;

        z-index: 1;
    }

    .login-container {
        height: 68%;
        margin-top: 15%;
    }

    .login-container .login {
        width: 80%;
    }

    .login-input {
        font-size: 12px;
        width: 90%;
    }

    .login-container .login .forgotten-button {
        margin-top: 1.5%;
    }
}

/* Mobile Styles */
@media (max-width: 360px) {
    .login-input {
        font-size: 9px;
    }

    .login-container .login .forgotten-button {
        margin-top: 14%;
    }
}

/* Non Mobile Styles*/
@media (min-width: 360px) {
    .login-input {
        font-size: 12px;
    }

    .login-container .login .forgotten-button {
        margin-top: 1.5%;
    }
}