<html>
    <head>
        <title>GLACIER: Login</title>
        <script src="static/javascript.js"></script>
        <link rel="stylesheet" href="static/stylesheet.css">

        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    </head>

    <body>
        <section class="identity-container">
            <img class="logo" src="">
            <h3 class="logo-text">Glacier</h3>
        </section>

        <section class="login-container">   
            <h1 class="login-text">Login Into Your Account</h1>

            <form class="login" action="">
                <input class="login-input" type="text" placeholder="Username or Email">
                <input class="login-input" type="text" placeholder="Password">

                <button class="login-button">Login</button>

                <div class="seperator"></div>

                <a class="forgotten-button" href="">Forgotten Password?</a>
            </form>
        </section>

        <section class="sign-up-container">   
            <h1 class="login-text" style="font-size: 40px;">New User?</h1>

            <form class="sign-up" action="">
                <input class="login-input" type="text" placeholder="Enter Your First Name">
                <input class="login-input" type="text" placeholder="Enter Your Last Name">
                <input class="login-input" type="text" placeholder="Enter Your Password">
                <input class="login-input" type="text" placeholder="Confirm Password">
                <input class="login-input" type="text" placeholder="Enter Your Email">
                <br>

                <button class="login-button" style="margin-bottom: 15px; margin-top: 0;">Sign-Up</button>
            </form>
        </section>
    </body>
</html>